body{
	text-align:center;
    font-family: helvetica, arial, sans-serif;
}

h1{
    display: block;
    text-align: center;
}

.column {
	width: 25%;
    min-height: 80px;
	height: 100%;
	background-color: #FF9812;
	display:inline-block;	
    vertical-align: text-top;
}

.add {
    float: right;
    margin-right: 20px;
}

.cartInput {
    font-size: 14px;
    width: 80%;
    margin-left: 5%;
}

.cartStyle{
    box-shadow: 2px 2px 1px 1px #666666;
    border: 1px groove #666666;

    background-color: white;
    color: #000;
}

/*noch gebraucht? vvv*/
.toggleInput{
    width: 15px;
    height: 15px;
    background-color: #00ff00;
    display: inline;
}

.menupoint{
    display: block;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 100%; 
}

.menupoint > *{
    display: inline-block;
    position: relative;
    height: 50%;
}

.pen{
    height: 32px;
    width: 32px;
    float: right;
    margin-right: 20px;
}

.draggedMenupoint{
    opacity: 0.25;
    transform: rotate(4deg);
}

#plus{
    height: 32px;
    width: 32px;
}

.divOver{
    border: 2px dashed #000;
}

[draggable = true]{
    cursor: move;
}

[draggable = false]{
    cursor: default;
}

