html{
    height: 100%; /* damit unsere Column-Divs auf 100% gesetzt werden können */
}

body{
    font-family: helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;	
    height: 100%;
    flex-direction: row; /* für smartphone version eventuell column statt row */
    text-align: center;
}

h1{
    display: inline;
    text-align: center;
}

.title{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 40px;
}

.column {
	height: 100%;
	background-color: #FF9812;
    width: 100%;
}

.add {
    float: right;
    margin-right: 20px;
}

.cartInput {
    font-size: 14px;
    width: 100%;
}

.cartStyle{
    box-shadow: 2px 2px 1px 1px #666666;
    border: 1px groove #666666;
    background-color: white;
    color: #000;
}

.menupoint{
    width: 100%;
    box-sizing: border-box; /* Damit menupoint nicht übersteht */
    padding: 28px;
    background-color: #FFA923;
}

.draggedMenupoint{
    opacity: 0.25;
    transform: rotate(2deg);
}

#plus{
    height: 32px;
    width: 32px;
}

.divOver{
    border: 2px dashed #000;
}

[draggable = true]{
    cursor: move;
}

[draggable = false]{
    cursor: default;
}

